@import 'variables';

.card-course-item {
    margin-top: 16px;
}

.card-img {
    max-height: 160px;
    object-fit: cover;
}

.card {
    height: 500px;
}

.card .details-btn {
    position: absolute;
    bottom: 15px;
    width: 100px;
}